.card {
    background-color: #9fb8cb3b;
    border-color: 1px solid #eee;
}


.image {
    overflow: hidden;
    }

.image1:hover {
        transform:scale(1.25);
        transition: 2s;
        }


.button {
    float: left;
}

.prix {
    padding-top: 5px;
    font-style: italic;
}