.footer{
    display: flex;
    justify-content: space-around;
    background:rgb(228, 48, 48);
    padding-top: 1%;
}   


.list{
    list-style-type: none;
    text-align: center;
    margin-right: 12%;

}

.list-top{
    font-weight: bold;
}



.link{
    color: black;
}


